@charset "UTF-8";
.slideDown{display: flex; justify-content: flex-end; align-items: center; margin: 20px 0 10px; color: #1155cc; font-size: 15px; line-height: 24px;}
.slideDown span{ cursor: pointer;}
.box-bottom{overflow: unset}
@media only screen and (min-width: 48em){.login-box {height: auto;}}