.goods-banner{height: auto;}
.goods-banner .banner-body{height: auto;}
.banner-split{width: 100%; height: 1px; background-color: #fff; padding: .5em 0;}
.banner-split::after{content: ""; display: block; height: 100%; background-color: #dadce0; width: 95%; margin: 0 auto; }